/*Navigation bar*/
h1,h2,h3,h4,h5{
	text-align: center;
}

li{	
	display: inline;
	list-style-type: none;
	padding-right: 25px;
}

/*Navigation bar styling*/
.navbar-inverse{
	border-radius: 0 !important;
}

.navbar-header{
	height:50px;
}

.nav{
	padding:25px 10px;
}

.navbar-brand>img {
	max-height: 70px;
	height: 70px;
	width: auto;
	margin: 0 auto;
	object-fit: contain; 
}

.nav-font{
	font-size: 16px;
}

#find-a-journey{
	padding: 20px 20px 20px 0px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height:75px;
	border-radius: 5px;
	box-shadow: 0 5px 8px #080808;
	border-color: #333;
	background-color: #8C0000; 
	margin-bottom: 20px;
}

#searchBar{
	width: 100%;
}

.journeyFinder{
	display: inline;
}

#findFont{
	color: #8C0000;
	font:bold;
	font-size: 16px;
	font-family:Merriweather;
	font-style: italic;
}
/*update the inline size of options   */
.dropdown-menu{
	line-height: 1em;
}

/*carousel*/
.carousel-caption {	
	position: center;
	bottom:40px;	
	text-align:center;
}

.item .row img {
	width:100%;
}

/* More information button on home page styling*/
.moreInfo-btn{
	background: #333;
	opacity: 0.80;
	border-radius: 5px;
	width: 200px;
	height:60px;
	padding-top: 50px;
	border: 1px solid #fff;
	text-align: center;
	text-decoration: none;
}

.moreInfo-btn:hover,
.moreInfo-btn:active {
	background-color: #fff;
	color: #000;
}

/*footer stlying*/
.panel-footer{
	font-size: 14px;
}

/* Contact Us page */
.contactForm{

	border:solid 1px;
	color: black;
}

.btn{
	margin-left:auto;
	margin-right: auto;
	display: block;
}

.submitBtn{
	width: 35px;
	height:18px;
	text-align: center;
	margin: auto;
	color: white ;
	font-size: 14px;
}

input[type=submit] {
	padding:5px 15px; 
	background:#8C0000; 
	border:solid 1px;
	cursor:pointer;
	border-radius: 5px; 
}

.contactInfo{
	display: block;
	color: white;
	font-size: 16px;
	text-align: left;
}

/* Thubmnail Display of team members and trips */
.thumbnail{
	margin-top: 30px;
} 

#contactFormBlack{
	color:white;
	border:solid 1px;
	background:#333;
	margin-bottom: 10px;
}

#contactFormRed{
	color:white;
	border:solid 1px;
	background:#8C0000;	
}

#usefulTips1,#usefulTips2{
	color:white;
	border:solid 1px;
	background:#333;
	margin-bottom: 10px;
}








