/*Navigation bar*/


li{	
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

/*--search form on home page--*/
.searchForm{	
	background: red;
	position: relative;
	background: transparent;	
}

.selectpicker{
	background: red;
}

/* More information button on home page styling*/
.moreInfo-btn{
	background: #2B2B2B;
	opacity: 0.75;
	border-radius: 5px;
	width: 200px;
	padding: 8px;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	text-decoration: none;

}

.moreInfo-btn:hover,
.moreInfo-btn:active {
	background-color: #fff;
	color: #000;
}

